body, html{
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#container{
	width: 100%;
	height: 100%;
	background-image: url(../imagens/imagem1.jpg);
	background-size: cover;
	background-position: center;
	animation: backgrounds 13s infinite;
}




/******************
	 Animaçoes
******************/

@keyframes backgrounds{
	0%{
		background-image: url(../imagens/imagem1.jpg);
	}
	25%{
		background-image: url(../imagens/imagem2.jpg);
	}
	50%{
		background-image: url(../imagens/imagem3.jpg);
	}
	75%{
		background-image: url(../imagens/imagem4.jpg);
	}
	99%{
		background-image: url(../imagens/imagem5.jpg);
	}

}





/******************
		Topo
******************/

.topo{
	height: 60px;
	background: #777;
	box-shadow: black 0 0 5px ;
}

.topo li{
	text-align: center;
	padding: 20px;
}

.topo li a{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.topo li a:hover{
	padding: 10px;
	border-radius: 5px;
	background: #fff;
	color: rgb(46, 45, 45);
}



/******************
	 conteudo
******************/

.conteudo{
	margin: 0 auto;
	width: 100%;
	height: 75%;
}

.formulario{
	margin: 0 auto;
	width: 580px;
	height: 490px;
	margin-top: 40px;
	background: rgb(235, 235, 235);
	box-shadow: black 0 0 5px ;
	border-radius: 5px;
}

.formulario fieldset{
	height: 490px;
	border-radius: 5px;
	border: none;
}

.formulario h2{
	margin:25px;
	text-align: center;
}

.formulario label{
	margin-left: 70px;
	font-size: 20px;
	padding-right: 8px;
}

.formulario input{
	width: 350px;
	margin-bottom: 20px;
	height: 30px;
	border: none;
	border-radius: 4px;
}

.space{
	margin-left: 70px;
}

textarea{
	width: 420px;
	height: 50px;
	max-width: 420px;
	max-height: 50px;
	border: none;
	border-radius: 4px;
}

.botao{
	margin: 0 auto;
	width: 80px;
	height: 50px;
	margin-top: 20px;
}

button{
	width: 78px;
	height: 38px;
	background: #777;
	color: #fff;
	border-radius: 3px;
}





/******************
	   rodape
******************/
.rodape{
	margin-top: 20px;
	padding-top: 5px;
	height: 31px;
	background: #6C7378;
	box-shadow: black 0 0 5px ;
}

.conteudo-rodape{
	width: 200px;
	margin: 0 auto;
}

span{
	text-align: center;
}

#nome{
	color: #B1BDC4;
	font-family: fantasy;
}